a {
  text-decoration: none;
}

.w3-bar {
  height: 4vh;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(33, 33, 33);
  font-size: calc(12px + 0.8vw);
  font-family: 'Courier New', Courier, monospace;
}

.om-splash-container{
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.om-content-container {
  /* border: 2px solid blue; */
  background-color: black;
  width: 100%;
  max-width: 915px;
  height: 100vh;
  overflow: auto;
}

#header-image {
  width: 100%;
  max-height: 25vh;
  padding-bottom: 20px;
}

.om-grid{
  /* border: 2px solid red; */
  overflow: auto;
  height: 100%;
}

#thumbnail-card {
  /* border: 2px solid yellow; */
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin-bottom: 40px;
}

#thumbnail-card:hover p {
  text-decoration: underline;
}

.thumbnail-image{
  height: 232px;
  max-height: 235px;
  padding-bottom: 10px;
}

.w3-card-4 {
  height: 25vh;
  color: white;
  font-size: calc(8px + 0.5vw);
}

.info-content {
  border: 2px solid red;
  height: 100%;
  color: white;
}

footer .w3-bar{
  font-size: calc(6px + 0.5vw);
  color: rgb(159, 162, 163);
  background-color: rgb(55, 55, 55);
}