a {
  text-decoration: none;
}

.w3-bar{
  height: 4vh;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(33, 33, 33);
  font-size: calc(12px + 0.6vw);
  font-family: 'Courier New', Courier, monospace;
}

.sw-splash-container {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sw-content-container {
  /* border: 2px solid blue; */
  background-color: black;
  width: 100%;
  max-width: 915px;
  height: 100vh;
  color: white;
}

.sw-content-container h2 {
  padding-left: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: 800;
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.763);
  text-decoration: underline;
  text-underline-offset: 10px;
  text-shadow: 3px 3px 0px rgb(231, 108, 7);
}

#sw-grid {
  /* border: 2px solid yellow; */
  font-size: calc(8px + 0.5vw);
  font-family: 'Courier New', Courier, monospace;
  color: white;
  overflow: auto;
}

#sw-grid h5 {
  margin: 0;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease; /* Smooth arrow rotation */
}

.down {
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

footer .w3-bar{
  font-size: calc(6px + 0.5vw);
  color: rgb(159, 162, 163);
  background-color: rgb(55, 55, 55);
}