@font-face {
  font-family: 'custom';
  src: url('./assets/MGS2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#banner {
  /* border: 2px solid blue; */
  border-bottom: 20px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 227, 84);
  color: white;
  font-family: Courier;
  font-weight: 600;
}
  
#home-header h1 {
  /* border: 1px solid red; */
  transform: translateY(50px);
  font-family: custom;
  font-size: 12vw;
  cursor: pointer;
  flex: 1;
}

.w3-container{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;  
}

#personal-links {
  /* border: 2px solid green; */
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 80%;
}

#personal-links a {
  text-decoration: none;
  color: inherit;
}

#close-modal-button{
  background-color: none;
}

#contact-modal-content{
  /* border: 2px solid blue; */
  border-radius: 2%;
  height: 90%;
  background-color: none;
  display: flex;
  flex-direction: column;
  background: none;
  /* color: black; */
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-size: calc(10px + 1.5vw); */
}

#contact-form{
  display: flex;
  flex-direction: column;
  align-items: normal;
  height: 90%;
  width: 70%;
}

.splash-page {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;  
}

#nav-container {
  /* border: 2px solid red; */
  height: 100vh;
  width: 90%;
  display: flex;
  align-items: center;
}

#nav-container a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 4vw;
  font-family: Courier;
  font-weight: 600;
  display: flex;
}

#online-media-link{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#screenwriting-link{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#separator {
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
