@font-face {
  font-family: 'custom';
  src: url('./assets/MGS2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#banner {
  /* border: 2px solid blue; */
  border-bottom: 20px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 50px 0px 50px;
  background-color: rgb(241, 227, 84);
  color: white;
  font-family: custom;
}
  
#home-header {
  font-size: 100px;
  cursor: pointer;
  /* border: 1px solid red; */
  flex: 1;
}

#personal-links {
  /* border: 2px solid green; */
  font-size: 40px;
  display: flex;
  flex-direction: row;
  gap: 190px;
}

#personal-links a {
  text-decoration: none;
  color: inherit;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quick-links {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: auto auto;
  gap: 300px; 
  list-style: none;
  padding: 0;
  margin: 0;
  /* max-width: 600px; */
  width: 100%;
  position: relative;
}

#quick-link li {
  text-align: center;
  position: relative;
}

#quick-links li a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 50px;
  font-family: custom;
}

.separator {
  background-color: black; /* Color of the separator line */
  width: 10px; /* Width of the line */
  height: 400px; /* Set a larger height */
  display: block;
  position: absolute; /* Position the line absolutely within the grid */
  top: -300%; /* Adjust to center vertically */
  left: 50%; /* Center horizontally in its grid cell */
  transform: translateX(-50%); /* Corrects positioning to align perfectly */
}


#quick-links > li > a {

}

.dropdown {

}

.dropdown-content {

}

.dropdown-content li {

}

.dropdown-content li a {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  color: white;
  /* padding: 5px; */
  text-decoration: none;
  font-size: 40px;

}

.content-section {
  display: none;
  padding: 20px;
  margin-top: 20px;
  /* background-color: #f4f4f4; */
  border: 1px solid blue;
}