@font-face {
  font-family: 'custom';
  src: url('./assets/MGS2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#banner {
  /* border: 2px solid blue; */
  border-bottom: 20px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 50px 80px 50px;
  background-color: rgb(241, 227, 84);
  color: white;
  font-family: custom;
}
  
#home-header {
  /* border: 1px solid red; */
  font-size: 15vw;
  cursor: pointer;
  flex: 1;
}

#personal-links {
  /* border: 2px solid green; */
  font-size: 5vw;
  display: flex;
  flex-direction: row;
  gap: 190px;
  padding-top: 40px;
}

#personal-links a {
  text-decoration: none;
  color: inherit;
}

.splash-page {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;  
}

#nav-container {
  /* border: 2px solid red; */
  height: 100vh;
  width: 90%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#nav-container a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 6vw;
  font-family: custom;
  display: flex;
}

#online-media-link{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#screenwriting-link{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#separator {
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-section {
  border: 1px solid blue;
  display: none;
  padding: 20px;
  margin-top: 20px;
}